<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.atensys.app.air.mapper.ConfigMapper">

    <select id="getConfig" resultType="kr.co.atensys.app.air.domain.ConfigInfo">
        /* ConfigMapper.getConfig */
        SELECT * FROM VW_TB_CONFIG WHERE PATH = #{path}
    </select>
</mapper>